src/__pycache__/*.pyc


# do not upload any student-specific or course-specific data
data/*
!data/test_SIDS.txt
exams/*-exams_generated_*
exams/existingexams_donotedit*
exams/images/*
exams/samples/*
!exams/images/sample.jpg
config/*exam.cfg

# no old source code
src/*_before20210527.py


20210604 CLA presentation/*
