
examgeneration/__pycache__/Exam.cpython-37.pyc

# keep only the pdfs from subdirectories with generated exams
examgeneration/final-exams_generated_[0-9]*-[0-9]*/*.tex
examgeneration/final-exams_generated_[0-9]*-[0-9]*/*.aux
examgeneration/final-exams_generated_[0-9]*-[0-9]*/*.synctex.gz
examgeneration/final-exams_generated_[0-9]*-[0-9]*/*.log
examgeneration/*midterm-exams_generated_[0-9]*-[0-9]*/*.tex
examgeneration/*midterm-exams_generated_[0-9]*-[0-9]*/*.aux
examgeneration/*midterm-exams_generated_[0-9]*-[0-9]*/*.synctex.gz
examgeneration/*midterm-exams_generated_[0-9]*-[0-9]*/*.log
examgeneration/flash-exams_generated_[0-9]*-[0-9]*/*.tex
examgeneration/flash-exams_generated_[0-9]*-[0-9]*/*.aux
examgeneration/flash-exams_generated_[0-9]*-[0-9]*/*.synctex.gz
examgeneration/flash-exams_generated_[0-9]*-[0-9]*/*.log
examgeneration/DEPRECATED_allquestions_noIDs.tsv
examgeneration/Eexistingexams_donotedit_20200930gavetoKathleen.dict
examgeneration/Eexistingexams_donotedit_20200930gavetoKathleen_UPDATED.dict
examgeneration/Eexistingexams_donotedit_20201005gavetoKathleen.dict
examgeneration/Eexistingexams_donotedit_previousto20201005update.dict
examgeneration/existingexams_donotedit.dict20200930000000
examgeneration/existingexams_donotedit.dict20201005000000
examgeneration/existingexams_donotedit.dict20201012211058
examgeneration/existingexams_donotedit.dict20201015141116
examgeneration/existingexams_donotedit.dict20201015141154
examgeneration/existingexams_donotedit.dict20201020210602
examgeneration/existingexams_donotedit.dict20201118010550
examgeneration/existingexams_donotedit.dict20201118011519
examgeneration/flashsignups_20200930.tsv
examgeneration/flashsignups_20201005.tsv
examgeneration/flashsignups_20201012.tsv
examgeneration/flashsignups_20201012removepostponed.tsv
examgeneration/flashsignups_20201020.tsv
examgeneration/flashsignups_20201024.tsv
examgeneration/flashsignups_20201108.tsv
examgeneration/SAMPLESexistingexams_donotedit.dict20201022163250
examgeneration/SIDS_first_five_digits_and_names.txt
examgeneration/backup exam gen dicts and folders 20201014 1625 - before utils testing.zip
examgeneration/__pycache__/examio.cpython-37.pyc
