# this file could be used for an exam with individually assigned timeslots (eg for oral exams)
questions: samplequestionbank.tsv
signups: sample_signups.txt
course: LING 200
exam type: flash
generate up to: 20210131
student groups:
# topics and difficulties must be entered here exactly as they are in the question bank tsv
# number of topics and number of difficulties must be the same, one entry per exam question
# individuals topics/difficulties must be separated by semicolon
# if you want to specify that a particular topic and difficulty level should be paired,
#   include the topic name in square brackets after its corresponding difficulty
# if you want to include any wildcard questions, the topic for those should be entered as WILD
#   and you will also need to specify the wildcard topics to choose from
topics: WILD; WILD
difficulties: medium; hard
wildcard topics: Topic1; Topic2; Topic3; Topic4
# ordering can be:
#   1 (in the order in which question topics are specified)
#   2 (completely random)
#   3 (one easy or medium question first if applicable, and the rest in random order)
#   4 (one very hard question last if applicable, and the rest in random order
ordering: 3
# one line of text to optionally include at bottom of each page - note ~ forces a space in LaTeX
rubric: Excellent (3) ~~~ Good (2.2) ~~~ Fair (1.7) ~~~ Poor (0)



